In [1]:
#import statements
import pandas as pd
import numpy as np

import matplotlib as plt
import itertools
import mne

In [2]:
#read in first (single) experiments log
df = pd.read_csv('experiment/data/David_food_intake_2021_Dec_20_1240.csv')
df.head(2)

,trials.thisRepN,trials.thisTrialN,trials.thisN,trials.thisIndex,trials_2.thisRepN,trials_2.thisTrialN,trials_2.thisN,trials_2.thisIndex,trials_5.thisRepN,trials_5.thisTrialN,...,image_5.stopped,TIMESTAMP_Eating_Bread_End,End_Experiment,participant,session,date,expName,psychopyVersion,frameRate,Unnamed: 75
0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,David,1.0,2021_Dec_20_1240,food_intake,2021.2.3,None,NaN
1,1.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,David,1.0,2021_Dec_20_1240,food_intake,2021.2.3,None,NaN

In [15]:
#read data of experiment
sensor_data = pd.read_csv('eeg_data/OpenBCISession_2021-12-20_12-37-15/OpenBCI-RAW-2021-12-20_12-39-23_edited.txt',header=[0],sep='\t')
sensor_data

/Users/lukasstingl/opt/anaconda3/envs/aiss/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (19,20) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Sample Index,EXG Channel 0,EXG Channel 1,EXG Channel 2,EXG Channel 3,EXG Channel 4,EXG Channel 5,EXG Channel 6,EXG Channel 7,EXG Channel 8,...,Other.5,Other.6,Analog Channel 0,Analog Channel 1,Analog Channel 2,Timestamp,Other.7,0,Timestamp,Unnamed: 34
0,0.0,-6.327.845.910.530.790,35.278.428.826.144.700,12.170.323.690.214.500,-6.548.234.110.860.120,-9.726.562.765.426.960,-36.877.249.107.032.900,15.574.807.295.180.200,-6.894.484.984.217.280,16.832.875.231.847.100,...,126.5,40.0,0.0,0.0,0.0,1.0,"6,40E+25",0.0,2021-12-20 12:39:23.863,NaN
1,2.0,-6.343.805.056.071.880,35.105.649.841.505.200,1.214.321.102.419.030,-6.566.651.948.291.290,-974.254.426.271.251,-3.708.109.701.646.530,15.554.064.876.325.700,-6.912.545.193.737.170,337.138.067.142.733,...,0.0,0.0,0.0,0.0,0.0,1.0,"6,40E+25",0.0,2021-12-20 12:39:23.870,NaN
2,4.0,-6.333.791.474.555.900,35.237.525.133.791.500,1.215.154.822.487.210,-65.607.734.394.995.500,-973.597.284.984.265,-36.997.054.457.313.300,15.565.330.155.531.100,-6.901.257.562.787.240,3.350.213.569.428.150,...,0.0,0.0,0.0,0.0,0.0,1.0,"6,40E+25",0.0,2021-12-20 12:39:23.875,NaN
3,6.0,-6.330.304.602.420.870,35.229.478.505.787.600,12.151.995.259.761.200,-6.556.683.070.264.220,-9.734.519.986.453.050,-3.700.241.887.598.260,1.556.193.269.037.390,-690.284.453.664.357,33.610.988.689.778.800,...,126.0,16.0,0.0,0.0,0.0,1.0,"6,40E+25",0.0,2021-12-20 12:39:23.882,NaN
4,8.0,-6.323.800.244.784.380,3.534.928.385.606.810,12.159.058.411.009.100,-6.552.458.590.562.170,-97.245.958.119.149,-36.858.026.606.801.300,15.573.645.004.468.500,-6.894.775.556.895.200,3.361.612.959.100.360,...,0.0,0.0,0.0,0.0,0.0,1.0,"6,40E+25",0.0,2021-12-20 12:39:23.889,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202920,100.0,-5.188.242.219.476.960,6.958.545.083.826.190,13.252.975.136.396.300,-7.057.675.070.485.480,-11.652.701.992.118.500,-3.674.559.733.219.110,10.946.655.088.264.300,-8.564.182.646.773.170,4.405.662.942.607.750,...,0.0,0.0,0.0,0.0,0.0,1.0,"6,40E+25",0.0,2021-12-20 13:06:24.410,NaN
202921,102.0,-51.366.320.415.296.600,7.251.799.971.079.820,13.238.155.929.822.400,-7.077.746.937.006.340,-11.680.731.079.665.500,-37.021.641.376.214.100,10.902.711.558.665.200,-8.585.662.673.194.720,4.439.235.262.779.620,...,122.5,0.0,0.0,0.0,0.0,1.0,"6,40E+25",0.0,2021-12-20 13:06:24.416,NaN
202922,104.0,-5.148.858.445.746.710,7.178.933.284.155.520,13.278.500.828.564.200,-705.063.427.098.206,-11.654.713.649.119.500,-36.851.321.083.464.700,10.916.346.122.782.900,-858.103.586.209.248,4.434.563.748.188.460,...,0.0,0.0,0.0,0.0,0.0,1.0,"6,40E+25",0.0,2021-12-20 13:06:24.432,NaN
202923,106.0,-5.152.904.111.493.120,7.095.114.242.448.120,1.324.390.032.814.740,-70.647.605.734.778.100,-11.657.284.099.731.900,-3.679.119.489.087.990,10.933.601.669.502.400,-8.570.418.783.476.200,4.445.426.695.993.740,...,0.0,0.0,0.0,0.0,0.0,1.0,"6,40E+25",0.0,2021-12-20 13:06:24.439,NaN
202924,108.0,-51.549.381.202.385.500,7.230.342.296.402.720,13.222.800.281.381.600,-708.487.714.348.759,-11.712.850.536.447.800,-37.410.338.212.291.900,10.867.842.837.314.900,-8.623.794.749.235.480,43.832.888.464.079.900,...,0.0,0.0,0.0,0.0,0.0,1.0,"6,40E+25",0.0,2021-12-20 13:06:24.446,NaN

In [3]:
#list of relevant columns
columns = ['TIMESTAMP_Speaking_Start', 'TIMESTAMP_Speaking_End', 'TIMESTAMP_Yawning_Start', 'TIMESTAMP_Yawning_End', 
           'TIMESTAMP_Resting_Start', 'TIMESTAMP_Resting_End', 'TIMESTAMP_Resting_Eyes_Closed_Start', 'TIMESTAMP_Resting_Eyes_Closed_End', 
           'TIMESTAMP_Eating_NSF_Start', 'TIMESTAMP_Eating_NSF_End', 'TIMESTAMP_Eating_Nuts_Start', 'TIMESTAMP_Eating_Nuts_End', 
           'TIMESTAMP_Eating_Bread_Start', 'TIMESTAMP_Eating_Bread_End'
          ]

In [4]:
#extract only relevant columns from df
data = df[columns]
data.head(3)

,TIMESTAMP_Speaking_Start,TIMESTAMP_Speaking_End,TIMESTAMP_Yawning_Start,TIMESTAMP_Yawning_End,TIMESTAMP_Resting_Start,TIMESTAMP_Resting_End,TIMESTAMP_Resting_Eyes_Closed_Start,TIMESTAMP_Resting_Eyes_Closed_End,TIMESTAMP_Eating_NSF_Start,TIMESTAMP_Eating_NSF_End,TIMESTAMP_Eating_Nuts_Start,TIMESTAMP_Eating_Nuts_End,TIMESTAMP_Eating_Bread_Start,TIMESTAMP_Eating_Bread_End
0,1.640000e+09,1.640000e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.640000e+09,1.640001e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,1.640001e+09,1.640001e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#extract values of single columns to drop NaN and save column name in list
liste = []

for column_name in columns:
    
    column = data.dropna(subset=[column_name])
    values = column[column_name].values.tolist()
    
    liste.append(values)

In [6]:
#construct dictionary of matching values and column names
data = {}
for column, value in zip(columns, liste):
   data[column] =  value

In [37]:
#constructing DataFrames with Start and End Timestamps
speaking = pd.DataFrame(data = dict(itertools.islice(data.items(), 2)))
yawning = pd.DataFrame(data = dict(itertools.islice(data.items(), 2, 4)))
resting_open = pd.DataFrame(data = dict(itertools.islice(data.items(), 4, 6)))
resting_closed = pd.DataFrame(data = dict(itertools.islice(data.items(), 6, 8)))
soup = pd.DataFrame(data = dict(itertools.islice(data.items(), 8, 10)))
nuts = pd.DataFrame(data = dict(itertools.islice(data.items(), 10, 12)))
sandwich = pd.DataFrame(dict(itertools.islice(data.items(), 12, 14)))

In [8]:
yawning.head(3)

   TIMESTAMP_Yawning_Start  TIMESTAMP_Yawning_End
0             1.640001e+09           1.640001e+09
1             1.640001e+09           1.640001e+09
2             1.640001e+09           1.640001e+09

In [9]:
#transform Unix Timestamp example
exampleTS = yawning.TIMESTAMP_Yawning_Start[0]

In [10]:
from datetime import datetime
ts = int(exampleTS)

In [11]:
ts

1640000531

In [12]:
print(datetime.fromtimestamp(ts).strftime('%Y-%m-%d %H:%M:%S'))

2021-12-20 12:42:11

In [38]:
#Transform Unix timestamp for every routine
routines = [speaking,yawning,resting_open,resting_closed,soup,nuts,sandwich]
for activities in routines: 
    TF_TS_Start = []
    TF_TS_End = []
    for start, end in activities.itertuples(index=False):
        #TF = Transformed from UNIX into Timestamp
        TF_TS_Start.append(datetime.fromtimestamp(start).strftime('%Y-%m-%d %H:%M:%S'))
        TF_TS_End.append(datetime.fromtimestamp(end).strftime('%Y-%m-%d %H:%M:%S'))
    activities["TF_TS_Start"]=TF_TS_Start
    activities["TF_TS_End"]=TF_TS_End

In [39]:
speaking

,TIMESTAMP_Speaking_Start,TIMESTAMP_Speaking_End,TF_TS_Start,TF_TS_End
0,1.640000e+09,1.640000e+09,2021-12-20 12:40:38,2021-12-20 12:41:18
1,1.640000e+09,1.640001e+09,2021-12-20 12:41:22,2021-12-20 12:42:02